<html>
    <head>
        <title>Chat</title>
        <style>
            input {display: block;}
            ul{list-style: none;}
        </style>
    <head>
    <body>
        <ul id="messages">
        <form id="chatbox">
            <textarea></textarea>
            <input type="submit" value="Send" />
        </form>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $(function () {
                var socket = new WebSocket("ws://{{.Host}}/room");
                var msgBox = $("#chatbox textarea");
                var messages = $("#messages");
                $("#chatbox").submit(function(){
                    if(!msgBox.val()) return false;
                    if(!socket){
                        alert("error : none socket");
                        return false;
                    }
                    socket.send(msgBox.val());
                    msgBox.val("");
                    return false;
                });
                if(!window["WebSocket"]){
                    alert("오류 : 브라우저가 웹소켓을 지원하지 않습니다")
                }else{
                    socket = new WebSocket("ws://localhost:8080/room");
  
                    socket.onclose = function() {
                        alert("Connection has been closed.");
                    }
                    socket.onmessage = function(e) {
                        messages.append($("<li>").text(e.data));
                    }
                }
            });
        </script>
        </ul>
    </body>
</html>